<main class="main">
  <h1>Calculadora de CDB</h1>

  <div class="card">
    <label for="initialValue">Valor Inicial (R$):</label>
    <input id="initialValue" type="text" [(ngModel)]="initialValueText" placeholder="Ex: 10.000,00"  autocomplete="off" (blur)="formatInitialValue()" (input)="parseInitialValue()">

    <label for="months">Prazo (meses):</label>
    <input id="months" type="number" [(ngModel)]="months" placeholder="Ex: 12" min="2" step="1" (input)="validMonthsValue()">

    <button (click)="calculateCdb()" [disabled]="!initialValue || !months || months <= 1 || initialValue <= 0">Calcular</button>

    <div *ngIf="calculationResult" class="results">
      <h2>Resultados:</h2>
      <p>Resultado Bruto: {{ calculationResult.grossResult | currency:'BRL':'symbol':'1.2-2':'pt-BR' }}</p>
      <p>Resultado Líquido: {{ calculationResult.netResult | currency:'BRL':'symbol':'1.2-2':'pt-BR' }}</p>
    </div>

    <div *ngIf="errorMessage" class="error-message">
      <p>Erro: {{ errorMessage }}</p>
    </div>
  </div>

</main>

